body{
    background-color: #121212;
    background-image:url(images/bg-down.png);
    background-repeat:no-repeat;
    background-size:cover;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

.game-over{
    background-color:#394A6D ;
}

/* ----------title ------------*/
.level-title{
    color: #ec1588;
    font-size: 2rem;
}

.score{
    color: #ec1588;
    font-size: 1.5rem;
    padding-top: 10%;
}

.crown-img{
    left: 0;
    position: absolute;
    width: 15%;
}

.gamepad-img{
    position: absolute;
    right: 0;
    width: 15%;
}
/* -------------game interface-------- */
#game-interface{
    margin: 5%;
}

.btn {
    background-color: #121212;
    border-radius: 10%;
    border: 3px solid #4e2448;
    display: inline-block;
    height: 40px;
    width: 40px;
}

.clicked{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px white;
}
