body{
    background-color: #121212;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    background-image:url(/images/bg-down.png);
    background-repeat:no-repeat;
    background-size:cover;
}

.game-over{
    background-color:#394A6D ;
}

/* ----------title ------------*/
.level-title{
    color: #ec1588;

    font-size: 2rem;
}

.score{
    color: #ec1588;
    padding-top: 10%;
    font-size: 1.5rem;
}

.crown-img{
    width: 15%;
    position: absolute;
    left: 0;
}

.gamepad-img{
    width: 15%;
    position: absolute;
    right: 0;
}
/* -------------game interface-------- */
#game-interface{
    margin: 5%;
}

.btn {
    background-color: #121212;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 3px solid #4e2448;
    border-radius: 10%;
  }

.clicked{
    box-shadow: 0 0 10px white;
    background-color: rgb(255, 255, 255);
}
